/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.app-wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.app-wrapper.light {
  background-color: #ffffff;
  color: #313838;
}

.app-wrapper.dark {
  background-color: #1a1a1a;
  color: #e2e7e8;
}

